body{
    padding: 0;
    margin: 0;
}
.left
{
    max-width: 250px;
    min-height: 60vh;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    
}
.dark-bg
{
    background-color: black;
    color: white;
}
.testimonial-box
{
    background-color: grey;
    width: 250px;
    height: 150px;
    margin-top: 10px;
    color: white
    ;

}
.hero-grid
{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.navbar{
    width: 100vw;
    display:flex ;
    justify-content:space-between ;
    height: 10vh;
}
